<%-layout('layout/boilerplate')  %> 

<div class="container mt-4" >
    
    <img src="<%= user.image[0].url %>" class="profile-photo mx-auto d-block" alt="..">
</div>


<div class="text-center ">
<h2><%=user.username %> </h2>

<div class="d-inline mt-3" >
    <ul class="d-inline"> 
    <li class="fol"><%=user.postc %>  Posts</li> 
    <li class="fol"><%= user.followers.length  %>  Followers</li>
    <li class="fol"><%= user.following.length %> Following</li>
    </ul>
</div>
</div>



<div class="text-center m-5" style=" border-bottom: 2px solid black;">
    <h4>Posts</h4>
</div>


<div class="container">
<% for(let post of posts) {%>
    
    <% if(post.author._id.equals(user._id)) {%>

        <div class="post-pr">
          
        <div class="card m-2 d-inline-block" style="width: 18rem;">
            <div class="card-body">
              <h5 class="card-title"><%=post.title  %> </h5>
              <h6 class="card-subtitle mb-2 text-muted">By: <%=user.username%> </h6>
              <a href="/posts/<%=post._id %>" class="card-link">View Post</a>
            
            </div>
          </div>
        </div>
   
        <% } %>  
<%}%> 
</div>